* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.main-slider {
  background: url("images/slider.png") #222222;
  max-width: 2560px;
  min-width: 768px;
  height: 100vh;
}

.header {
  max-height: 127px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 14px;
}

.menu {
  display: flex;
  margin-top: 62px;
}

.menu p {
  margin-right: 100px;
}

.menu-item:hover {
  color:  rgba(173,198,44,1)
}

.green {
  color: #ADC62C;
}

.menu-burger {
  margin-top: -13px;
  margin-right: 50px;
  display: block;
  background: url("images/burger.svg") no-repeat;
  width: 46px;
  height: auto;
}

.menu-burger:hover {
  background: url("images/burger-green.svg") no-repeat;
}
