* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: Abraham Lincoln, sans-serif;
  src: url(abraham-lincoln-cufonfonts-webfont/AbrahamLincoln.woff);
}

.main-slider {
  background: url("images/slider.png") #222222;
  max-width: 2560px;
  min-width: 768px;
  height: 100vh;
}

#logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}


.menu {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 14px;
  height: 127px;
  padding-top: 60px;
}

.menu p {
  margin-right: 100px;
}

.menu p:last-child {
  margin-right: 170px;
}

.menu-item:hover {
  color:  rgba(173,198,44,1)
}

.green {
  color: #ADC62C;
}

.menu-burger {
  position: fixed;
  right: 43px;
  top: 47px;
  z-index: 2;
  display: block;
  background: url("images/burger.svg") no-repeat;
  width: 46px;
  height: 46px;
}

.menu-burger:hover {
  background: url("images/burger-green.svg") no-repeat;
}

.page-content {
  color: white;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  position: relative;
  z-index: 100;
}

.grapes {
  position: absolute;
  right: 16%;
  top: 36px;
  z-index: -2;
}

.bottle {
  position: absolute;
  right: 31%;
  top: 245px;
  z-index: -1;
}

.page-content__title {
  font-family: Abraham Lincoln, sans-serif;
  font-size: 5em;
  color: white;
  text-align: center;
  margin: 140px  auto 10px;
  line-height: 100%;
}

.page-content__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.page-content__slider__text {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
  width: 560px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #d3d3d3;
  line-height: 26px;
}

.button {
  text-decoration: none;
  border: none;
  padding: 0;
  background: none;

}

.back {
  margin-right: 10px;
}

button:focus { 
  outline: none; 
}



.page-content__slider__footer {
  display: flex;
  justify-content: space-between;
  margin: 250px auto 0;
  width: 90%;
  
}

.page-content__slider__footer__counter {
  display: flex;
  justify-content: space-around;
  color: #818181;
  font-family: Abraham Lincoln, sans-serif;
}

.current-number {
  font-size: 4em;
  color: #ADC62C;
  font-family: Abraham Lincoln, sans-serif;
  margin-right: 30px;
}

.slash {
  font-family: Abraham Lincoln, sans-serif;
  margin-right: 30px;
  font-size: 4em;
}

.total-number {
  font-size: 2em;
  font-family: Abraham Lincoln, sans-serif;
  padding-top: 12px; 
}


/* 
position: fixed;
    right: 0;
    top: 46px;
    z-index: 2; */
