* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: Abraham Lincoln, sans-serif;
  src: url(abraham-lincoln-cufonfonts-webfont/AbrahamLincoln.woff);
}

.main-slider {
  background: url("images/slider.png") no-repeat center top #222222;
  max-width: 2560px;
  min-width: 768px;
  height: 100vh;
}

#logo {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}


.menu {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 14px;
  height: 127px;
  padding-top: 60px;
}

.menu p {
  margin-right: 100px;
}

.menu p:last-child {
  margin-right: 170px;
}

.menu-item:hover {
  color:  rgba(173,198,44,1)
}

.green {
  color: #ADC62C;
}

.menu-burger {
  position: fixed;
  right: 43px;
  top: 47px;
  z-index: 2;
  display: block;
  background: url("images/burger.svg") no-repeat;
  width: 46px;
  height: 46px;
}

.menu-burger:hover {
  background: url("images/burger-green.svg") no-repeat;
}

.page-content {
  color: white;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  position: relative;
  z-index: 100;
}

.grapes {
  position: absolute;
  right: 16%;
  top: 0;
  z-index: -2;
  transform: translateZ(0);
}

.bottle {
  position: absolute;
  right: 31%;
  top: 55%;
  z-index: -1;
  transform: translateZ(-1px);
}

.single-grape-top {
  position: absolute;
  right: 0%;
  top: 240px;
  z-index: 1;
}

.single-grape-4 {
  position: absolute;
  left: 18%;
  top: 360px;
  z-index: 1;
}

.single-grape-1 {
  position: absolute;
  left: 0;
  bottom: -250px;
  z-index: 2;
}

.single-grape-3 {
  position: absolute;
  right: 22%;
  bottom: 240px;
  z-index: 1;
}


.page-content__title {
  font-family: Abraham Lincoln, sans-serif;
  font-size: 5em;
  color: white;
  text-align: center;
  margin: 125px  auto 10px;
  line-height: 100%;
}

.page-content__slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.page-content__slider__text {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 14px;
  width: 560px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #d3d3d3;
  line-height: 26px;
}

.button {
  text-decoration: none;
  border: none;
  padding: 0;
  background: none;

}

.back {
  margin-right: 10px;
}

button:focus { 
  outline: none; 
}



.page-content__slider__footer {
  display: flex;
  justify-content: space-between;
  margin: 250px auto 0;
  width: 90%;
  
}

.page-content__slider__footer__counter {
  display: flex;
  justify-content: space-around;
  color: #818181;
  font-family: Abraham Lincoln, sans-serif;
  z-index: 5;
}

.current-number {
  font-size: 4em;
  color: #ADC62C;
  font-family: Abraham Lincoln, sans-serif;
  margin-right: 30px;
}

.slash {
  font-family: Abraham Lincoln, sans-serif;
  margin-right: 30px;
  font-size: 4em;
}

.total-number {
  font-size: 2em;
  font-family: Abraham Lincoln, sans-serif;
  padding-top: 12px; 
}


/* slider 2 */

.slider2 {
  background: url("images/slider2.png") no-repeat center top #222222;
  max-width: 2560px;
  min-width: 768px;
  height: 1533px;
}

.slider2__container__image {
  margin-top: 35%;
  margin-left: 35%;
  z-index: 5;
  position: relative;
}

.slider2__container__image-black {
  margin-left: auto;
  margin-right: auto;
}

.slider2__container__date {
  font-family: Abraham Lincoln, sans-serif;
  font-size: 10em;
  color: rgba(173,198,44,1);
  position: relative;
  top: -350px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  z-index: 6;
}

.slider2__container__text {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-style: italic;
  font-weight: 100;
  position: relative;
  top: -338px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 490px;
  z-index: 6;
}

.text-decoration {
  color: rgba(173,198,44,1);
}

.slide2-grapes {
  position: absolute;
  right: 0%;
  top: 130%;
  z-index: 1;
}

.slide2-grapes2 {
  position: absolute;
  left:0;
  top: 130%;
  z-index: 1;
}

.single-grape-5 {
  position: absolute;
  right: 22%;
  top: 180%;
  z-index: 1;
  width: 100px;
  height: auto;
}

.single-grape-6 {
  position: absolute;
  left: 18%;
  top: 210%;
  z-index: 1;
  width: 220px; 
  height: auto;
}

.leaf1 {
  position: absolute;
  left: 33%;
  top: 168%;
  z-index: 0;
  width: 180px;
  height: auto;
}

.leaf2 {
  position: absolute;
  left: 58%;
  top: 212g%;
  z-index: 0;
  width: 180px;
  height: auto;
}

